/* This uses tailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    -webkit-animation: fadeIn ease-in 1s;
    -moz-animation: fadeIn ease-in 1s;
    -o-animation: fadeIn ease-in 1s;
    -ms-animation: fadeIn ease-in 1s;
    animation: fadeIn ease-in 1s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 149px;
    height: 149px;
  }
}
